<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8">
    <title>C is for Code</title>
  </head>
  <body>
    <div id="site">
      <div id="header" class="bold">
        <h1><a href="/"><div class="prompt">&gt;</div></a>C is for Code</h1>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
        <div class="content">
          <div class="links">
            char *<span class="bold">links</span> = {
              <!-- &quot;<a href="">About</a>&quot;, -->
              &quot;<a href="mailto:peter.brindisi+cc@gmail.com">Contact</a>&quot;
            };
          </div>
          <div class="copy">
            // &copy; 2011 Peter Brindisi. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>