<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="alternate" type="application/atom+xml" href="feed.xml" title="Feed">
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8">
    <script src="/javascript/jquery-1.7.min.js" type="text/javascript" charset="utf-8"></script>
    <title>C is for Code</title>
  </head>
  <body>
    <div id="site">
      <div id="header" class="bold">
        <h1><a href="/"><div class="prompt">&gt;</div></a>C is for Code</h1>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
        <div class="content">
          <div class="links">
            char *<strong>links</strong>[3] = {
              <!-- &quot;<a href="">about</a>&quot;, -->
              &quot;<a href="mailto:peter.brindisi+cc@gmail.com">contact</a>&quot;,
              &quot;<a href="feed.xml" target="_blank">feed</a>&quot;,
              &quot;<a href="http://www.twitter.com/cisforcode" target="_blank">@cisforcode</a>&quot;
            };
          </div>
          <div class="copy">
            // &copy; 2011 Peter Brindisi. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
    <script src="/javascript/wikiterm.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>